<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <title>SEL4C Dashboard</title>
  </head>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("searchInput");
    const table = document.getElementById("myTable");
    const tableRows = table.getElementsByTagName("tr");

    searchInput.addEventListener("input", function () {
        const filter = searchInput.value.toLowerCase();

        for (let i = 1; i < tableRows.length; i++) {
            const row = tableRows[i];
            const data = row.textContent.toLowerCase();

            if (data.includes(filter)) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
      });
    });

    varChoosen = 10;
    currentMode = 'asc';

    function sortTable(changeVar) {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("myTable");
      switching = true;

      if(changeVar == varChoosen){
        if (currentMode == 'asc') {
          currentMode = 'desc'
        }else{
          currentMode = 'asc'
        }
      }
      varChoosen = changeVar


      if (currentMode == 'asc') {
        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < (rows.length - 1); i++) {
            
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[changeVar];
            y = rows[i + 1].getElementsByTagName("TD")[changeVar];
            if (changeVar == 1 || changeVar == 5) {
              if (parseInt(x.innerHTML.toLowerCase())  > parseInt(y.innerHTML.toLowerCase())) {
              shouldSwitch = true;
              break;
              }
            }
            else{
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
      }
      else{
        while (switching) {
          switching = false;
          rows = table.rows;
          for (i = 1; i < (rows.length - 1); i++) {
            
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[changeVar];
            y = rows[i + 1].getElementsByTagName("TD")[changeVar];
            if (changeVar == 1 || changeVar == 5) {
              if (parseInt(x.innerHTML.toLowerCase())  < parseInt(y.innerHTML.toLowerCase())) {
              shouldSwitch = true;
              break;
              }
            }
            else{
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
              }
            }
          }
          if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
          }
        }
      }

      

    }

    function deleteRow(element){
          element.parentElement.parentElement.remove();
        }
    </script>
  <body>
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style="background-color: #0039A6;">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'index' %}">SEL4C</a>
      <ul class="navbar-nav px-3 flex-row">

    <li class="nav-item text-nowrap">
      <a class="nav-link text-light mr-5">   {{ request.user}}</a>
    </li>
    <li class="nav-item text-nowrap">
      <a class="nav-link text-light" href="{% url 'logoutUser' %}"> Cerrar Sesión</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">
              <span data-feather="home"></span>
              Resumen 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'users' 1 %}">
              <span data-feather="file"></span>
              Usuarios <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'managers' 1 %}">
              <span data-feather="shopping-cart"></span>
              Administradores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'account' %}">
              <span data-feather="users"></span>
              Mi Cuenta 
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-0 mb-3">
        <h2 class="h2 pt-2">Base de Datos de Usuarios</h2>
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Organizar por
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" onclick="sortTable(0)" href="#">Nombre</a></li>
            <li><a class="dropdown-item" onclick="sortTable(1)" href="#">Edad</a></li>
            <li><a class="dropdown-item" onclick="sortTable(2)" href="#">Pais</a></li>
            <li><a class="dropdown-item" onclick="sortTable(3)" href="#">Institución</a></li>
            <li><a class="dropdown-item" onclick="sortTable(4)" href="#">Correo</a></li>
            <li><a class="dropdown-item" onclick="sortTable(5)" href="#">Progreso</a></li>
          </ul>
        </div>
      </div>

      <div class="d-flex">

        <div class="row justify-content-start w-100">
          <input class="form-control col-12 mb-3" type="text" id="searchInput" placeholder="Buscar usuario...">
        </div>
      </div>
      
      <div class="table-responsive">
        <table id="myTable" class="table table-striped table-sm table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Edad</th>
              <th>Pais</th>
              <th>Institución</th>
              <th>Correo</th>
              <th>Progreso</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for user in data %}
              <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.age }}</td>
                  <td>{{ user.country }}</td>
                  <td>{{ user.institution }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.progress }}</td>
                  <td>
                    <a href="{% url 'user_activities' user.id %}" class="btn btn-info" role="button"> Actividades</a>
                  </td>
                  <td>
                    <form class="delete-button" action="{% url 'user_delete' user.id %}" method="post">
                    {% csrf_token %}
                      <button type="submit" class="btn btn-secondary">Eliminar</button>
                    </form>
                  </td>
                  
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="{% url 'users' pagePrev %}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="{% url 'users' pageFirst %}">{{ pageFirst }}</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'users' pageSecond %}">{{ pageSecond }}</a></li>
          <li class="page-item"><a class="page-link" href="{% url 'users' pageThird %}">{{ pageThird }}</a></li>
          <li class="page-item">
            <a class="page-link" href="{% url 'users' pageNext %}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </main>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>


  $(".delete-button").submit(function(e) {
    e.preventDefault();
    Swal.fire({
      title: 'Estas seguro?',
      text: "No podrás deshacer esta acción!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: "No, Cancelalo!",
      confirmButtonText: 'Si, Eliminalo!'
    }).then((result) => {
      if (result.isConfirmed) {
        this.submit()
        
      }
    })
  });

</script><script src="https://cdn.jsdelivr.net/npm/feather-icons@4.9.0/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
{% if messages %}
  {% for m in messages %}
  <script>
    Swal.fire(
        'Eliminado!',
        'El usuario ha sido eliminado.',
        'success'
    )
  </script>
  {% endfor %}
{% endif %}
</html>